<div class='container'>
    <br>
    <div class="row">
        <div class="card col-md-6 offset-md-3">
            <h2 class='text-center'>Adicionar Setor</h2>
            <div class="card-body">
                <a href="/list-sector" class="btn btn-secondary">Listar Setores</a>
                <form method="POST" action="">
                    <div class="form-group mb-2">
                        <label class="form-label">Nome do Setor:</label>
                        <input type="text" name="sector_name" class="form-control" required/>
                    </div>
                    <button type="submit" class='btn btn-primary mb-2'>Adicionar Setor</button>
                </form>
            </div>
        </div>
    </div>
</div>