<div class="contact-container">
    <h1>Sobre</h1>
    <p>O aplicativo de manutenção foi desenvolvido pela Flexnyl Zíperes para facilitar o gerenciamento e controle das
        manutenções de seus equipamentos industriais. Ele organiza informações vitais sobre os equipamentos, permitindo
        o
        registro detalhado das atividades de manutenção, desde identificação de problemas até a conclusão das tarefas.
        Isso
        ajuda a garantir o funcionamento adequado dos equipamentos e a minimizar falhas operacionais.</p>
    <br />
    <p>
        Se surgir qualquer dúvida ou se identificar algum erro no serviço, você pode entrar em contato pelo e-mail
        <a href="mailto:flexnyl.ti@flexnyl.com.br"><b>flexnyl.ti&#64;flexnyl.com.br</b></a>

    </p>
    <img [src] = "imagePath" alt="Logo da Empresa">
    <br />

</div>