<div class='container'>
    <br>
    <div class="row">
        <div class="card col-md-8 offset-md-2">
            <h2 class='text-center'>Lista de Setores</h2>
            <div class="card-body">
                <a href="/form-sector" class="btn btn-primary mb-3">Criar Setor</a>
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome do Setor</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>