
    <div class="container">
        <h2>Listar Usuários</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Cargo</th>
                    <th>Sobrenome</th>
                    <th>Nível de Acesso</th>
                    <th>Nome de Usuário</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <!-- Aqui irá o loop dos usuários -->
            </tbody>
        </table>
        <a href="/form-user" class="btn btn-primary">Criar Usuário</a>
    </div>
