<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Manutenção Elétrica</title>
</head>
<body>
<div class="container mt-5">
    <h2>Criar Manutenção Elétrica</h2>

    <form method="POST" action="" class="mt-3">
        <div class="form-group">
            <label for="type">Tipo:</label>
            <input type="text" class="form-control" name="type" required>
        </div>

        <button type="submit" class="btn btn-primary">Criar Manutenção Elétrica</button>

        <!-- Botão secundário para redirecionar para a página list_maintenance_electrical.php -->
        <a href="list_maintenance_electrical.php" class="btn btn-secondary">Ver Manutenções Elétricas</a>
    </form>
</div>
</body>
</html>
