<div class="container">
    <a href="/form-equipment" class="btn btn-secondary mt-3">Criar Equipamento</a>
    <h2>Listar Equipamentos</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Id</th>
          <th>Batismo</th>
          <th>Data de Instalação</th>
          <th>Descrição</th>
          <th>Fabricante</th>
          <th>Modelo</th>
          <th>Sector</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>
  